body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
header {
  background-color: #000000;
  z-index: 10;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
	background: linear-gradient(to bottom, #000000 5%, #332b33 100%);
	background-color: #000000;
	border-radius: 3px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: bold;
  padding: 6px 20px;
  margin: 0 5px;
	text-decoration: none;
}
button:hover {
	background: linear-gradient(to bottom, #332b33 5%, #000000 100%);
	background-color: #332b33;
}
button:active {
	position: relative;
	top: 1px;
}